@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #EFEFBB;
    background: linear-gradient(to right, #D4D3DD, #efbebb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    font-weight: 800;
    margin: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -25px;
}

.title img {
    width: 60px;
}

h1 {
    letter-spacing: 3px;
}

.sub_title {
    font-size: 15px;
    color: rgb(90, 50, 50);
    font-family: 'Lato';
    letter-spacing: 2px;
}

.poke_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.pokemon .img-container {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    width: 120px;
    height: 120px;
}

.pokemon .img-container img {
    margin-top: 20px;
    width: 120px;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .number {
    background-color: #fff;
    border-radius: 10px;
    font-optical-sizing: 0.8em;
    padding: 5px 10px;
}

.pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}